.content {
	margin-top: -20px;
	height: 100vh;
}
.navbar {
	background: #000;
	border: 0;
	border-radius: 0;
}
.navbar a {
	color: #fff !important;
}
.navbar-brand {
	font-size: 30px;
}
.dropdown-menu {
	background: #000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background: #999;
}
.dropdown-menu>li>a:hover {
	background: #999;
}

/* PROJECTS SIDE BAR */
.projects {
	border-right: 1px solid #e7e7e7;
	background: #f8f8f8;
	padding-top: 20px;
	height: 100vh;
}
.projects-title {
	font-size: 24px;
}
.projects-item {
	cursor: pointer;
	font-size: 18px;
	color: #337ab7;
	list-style-type: none;
	margin-left: -15px;
}
.projects-item:hover {
	text-decoration: underline;
	color: #23527c;
}

/* MAIN */
.main {
	margin-top: 20px;
	transition: opacity .1s;
}
.main-title {
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}
.main-project {
	padding-right: 10px;
	text-align: center;
}
.main-project img {
	width: 80%;
	border: 1px solid #aaa;
	padding: 10px;
}
