/* NAVBAR */
.navbar {
	background: rgba(17,17,17,1);
	background: -moz-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(28,28,28,1) 52%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,17,17,1)), color-stop(52%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(28,28,28,1) 52%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(28,28,28,1) 52%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(28,28,28,1) 52%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to bottom, rgba(17,17,17,1) 0%, rgba(28,28,28,1) 52%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#131313', GradientType=0 );
	border: 0;
	border-radius: 0;
	font-size: 18px;
}
.navbar a {
	color: #fff !important;
}
.navbar a:hover {
	color: #eee !important;
	text-decoration: none;
}
.navbar-brand {
	font-size: 30px;
}
.dropdown-menu {
	background: #000;
	margin-top: 6px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background: #000;
	height: 50px;
}
.dropdown-menu > li > a:hover {
	background: #262626;
}

/* CONTENT WRAPPER */
.content {
	margin-top: -20px;
}

/* PROJECTS SIDE BAR */
.projects {
	border-right: 1px solid #e7e7e7;
	background: #ddd;
	padding-top: 5px;
	height: 100vh;
}
.projects-title {
	font-size: 24px;
	margin-bottom: 5px;
}
.projects-item {
	cursor: pointer;
	font-size: 18px;
	color: #337ab7;
	list-style-type: none;
	margin-left: -35px;
	margin-bottom: 10px;
	border: 1px solid black;
	background: #fff;
	padding-right: 5px;
	height:60px;
}
.projects-item:hover {
	color: #23527c;
	background: #eee;
}
.projects-item img {
	margin-right: 5px;
	height: 100%;
}

/* MAIN */
.main {
	padding-top: 5px;
	font-size: 16px;
}
.main-title {
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}
.main-project {
	padding-right: 10px;
}
.main-project-img img {
	float: left;
	margin-right: 10px;
	width: 50%;
}